body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    background-color: navy;
    color: snow;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-choice {
    margin: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.choice-reveal {
    margin: 15px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

div.choice {
    display: flex;
    justify-content: space-between;
}

.results {
    min-height: 4em;
    margin-top: 20px;
    border: 1px solid white;
}

.results p {
    text-align: center;
}


th, tr, td {
    border: 1px solid white;
}

table {
    width: 40%;
    text-align: center;
}

p.choice {
    margin: 0 0 0 15px;
}

p {
    margin: 0;
}

/* Tags below are added to an elements using js */

.win-message {
    font-weight: 600;
    font-size: 1.5rem;
}